*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* comon class */
.btn{
  padding: 22px 43px;
  background: linear-gradient(to right, #ff7a18, #ffb347);
  border: none;
  border-radius: 100px;
  font-size: 1.125rem;
  font-weight: 600px;
  color: white;
  cursor: pointer;
}






/*header */
.header{
  display: flex;
  background-image: url(./images/shapes/Group\ 8450.png);
  background-image: no-repeat;
  height: 200px 200px;
}

.heading{
  margin: 206px  100px;
}

.heading h1{
  font-size:  3.75rem;
  font-weight: 700;
}

.orange{

  font-size: 3.75rem;
  font-weight: 700;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff7a18, #ffb347);
  background-clip: text;
  color: transparent;
}
.heading p{
  font-size: 1.25rem;
  font-weight: 500px;
  color: #828282;
  margin-top: 40px;
  margin-bottom: 50px;
}

 

/* about  section */
.section1{
  height: 600px;
  width: 1440px;
  display: flex;
  width: 100%;
  background-image: url(./images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.female-img img{
  height:600px;
  width: 735px;
  padding-top: 64px;
  padding-left: 199px;
  padding-right: 199px;
}
.about{
  width: 705px;
  height: 600px;
  text-align: left;
  padding-top: 127px;
}
.about h2{
  font-size: 2.5rem;
  font-weight: 700px;
  color: #707070;
  margin-bottom: 32px;

}
.about p {
  font-size: 1.25rem;
  font-weight: 500px;
  color: #828282;
  margin-top: 40px;
  margin-bottom: 50px;
}
