*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* comon class */
.btn{
  padding: 22px 43px;
  background: linear-gradient(to right, #ff7a18, #ffb347);
  border: none;
  border-radius: 100px;
  font-size: 1.125rem;
  font-weight: 600px;
  color: white;
  cursor: pointer;
}


/*header */
.header{
  display: flex;
  background-image: url(./images/shapes/banner-shape.png);
  /* background-size: contain; */
  background-size: 700px 700px;
  background-position: right;
  background-repeat: no-repeat;
  

  height: 200px 200px;
}

.heading{
  margin: 206px  100px;
  
}

.heading h1{
  font-size:  3rem;
  font-weight: 500px;
}

.orange{

  font-size: 3rem;
  font-weight: 500px;
  font-size: 60px;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff7a18, #ffb347);
  background-clip: text;
  color: transparent;
}
.heading p{
  font-size: 1.25rem;
  font-weight: 500px;
  color: #828282;
  margin-top: 40px;
  margin-bottom: 50px;
}

.img-male img {
   margin-top: 143px;
   /* height: 788px;
   width: 650; */
   
}

/* about  section */
.section1{
  height: 600px;
  width: 1440px;
  display: flex;
  width: 100%;
  background-image: url(./images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.female-img img{
  height:600px;
  width: 735px;
  padding-top: 64px;
  padding-left: 199px;
  padding-right: 199px;
}
.about{
  width: 705px;
  height: 600px;
  text-align: left;
  padding-top: 127px;
}
.about h2{
  font-size: 2.5rem;
  font-weight: 700px;
  color: #707070;
  margin-bottom: 32px;

}
.about p {
  font-size: 1.25rem;
  font-weight: 500px;
  color: #828282;
  margin-top: 40px;
  margin-bottom: 50px;
}
/* recipies */
.recipies{
  height: 159px;
  width: 706px;
  margin: 70px auto;
  text-align: center;
}
.recipies h2{
  font-size: 2.5rem;
  font-weight: 700px;
  color: #707070;
  margin-bottom: 30px;
}
.recipies p{
  font-size: 1.125rem;
  font-weight: 500px;
  color: #828282;
}

.card{
  display: flex;
  margin: 20px 100px;
  gap: 20px;
  align-items: center;
  border: #ff7a18;
  

}
.card-1 img{
  width: 100%;
  border-radius: 100px;
  padding: 30px;

  
}

.card-1{
  height: 562px 610px ;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  /* box-shadow: 0 4px 40px 0 rgba(255, 255, 255, 0.226); */
}
.card-1 h3{
  padding: 30px;
  font-size: 1.75rem;
  font-weight: 700px;
  color: #18191F;
  margin-bottom: 30px;

}
.card-1 p{
  padding: 30px;
  font-size: 1.125rem;
  font-weight: 500px;
  color: #828282;
}
